<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thymeleaf快速入门-Hello Thymeleaf</title>
    <script type="text/javascript" src="../static/thymeleaf.js" th:src="@{/static/thymeleaf.js}"></script>
</head>

<body>

<!-- 当students集合不为空时才会显示下面的元素
TODO 这个地方复习el表达式和jstl表达式
 通过表达式，判断了 students 是否为空，Thymeleaf 支持 >、<、>=、<=、==、!= 作为比较条件，
 同时也支持将 SpringEL 表达式语言用于条件中，表达式中的语法是 Thymeleaf 模板自带的一种内置工具，
 像这样的内置工具不仅方便而且能提高我们的效率，完整的内置工具在这里可以看到：
 -->
</body>
</html>